<!DOCTYPE html>
<html>
	<head>
		<title>Search Engine Optimization</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta charset="viewport" content="width=device-witdh, initial-scale=1">
	</head>
	<body>
		<!-- Nav Bar Section -->

		<section id="welcome">
			<h1>Search Engine Optimization</h1>
			<h3>CREATE.STRATEGY.RANK.</h3>
			<h5>What to Expect</h5>
		</section>
		<section id="content1">
			<h1>Search Engine Optimization</h1>
					<p>It is the process of maximizing the number of visitors to a particular website by ensuring that the site appears high on the list of results returned by a search engine.</p>
					<p>
						SEO may target different kinds of search, including image search, video search, academic search, news search, and industry-specific vertical search engines. SEO differs from local search engine optimization in that the latter is focused on optimizing a business' online presence so that its web pages will be displayed by search engines when a user enters a local search for its products or services. The former instead is more focused on national searches.
					</p>

		</section>
		<section id="content2">
			<h1>Guidelines on how to read a Search Engine Results Page</h1>
			
		</section>
		<section id="content3">
			<h1>SEO Affects Business by..</h1>
			<p>
				A good way of making the content found in your website more relevant to what potential customers want. 
			</p>
			<p>
				It is also a good way of making your website more attractive, thus increasing readability and the amount of time people spend on the page, which is also valuable.  Through the use of good and reliable software, search engines serve their purpose much more effectively.
			</p>
			<p>
				By placing your business in the various search engines, SEO makes it easier for people to have as much information as they would want regarding your business.
			</p>
			
		</section>
		<section id="content4">
			<h1><strong>Important SEO Expectations</strong></h1>
			<ul list-stype-type="square">
				<li><strong>Speed of Ranking Increases</strong></li>
				<li><strong>Number of Keywords Targeted</strong></li>
				<li><strong>Quantity of Blacklinks</strong></li>
				<li><strong>Quality of Blacklinks</strong></li>
				<li><strong>Amount of Traffic</strong></li>
				<li><strong>Number of Leads</strong></li>
				<li><strong>Client Impact of Success</strong></li>
			</ul>
		</section>

		<section id="imgSection">
			<h1>Some of the Search Engines</h1>
			<a href="http://placeholder.com"><img src="img/google.jpg"></a>
			<a href="http://placeholder.com"><img src="img/bing.png"></a>
			<a href="http://placeholder.com"><img src="img/yahoo.png"></a>
			<a href="http://placeholder.com"><img src="img/duckgo.png"></a>
		</section>
	</body>
</html>